@charset "ISO-8859-1";

.topnav {
	background-color: lightblue;
	overflow: hidden;
	position: relative;
}

#logo {
	font-family: helvetica;
	font-size: 25px;
	font-weight: bold;
	padding: 14px 16px;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-family: helvetica;
  font-size: 17px;
  font-weight: bold;
  display: block;
}

.topnav a.icon {
  background: lightblue;
  font-size: 25px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: grey;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: lightblue;
  color: black;
}

.main{
	background-color: white;
	font-family: helvetica;
	font-size: 15px;
	width: 100%;
	position: absolute;
	top: 125px;
	right: 0;
	z-index: -1;
}

#refrescando {
	display: none;
	position: fixed;
	top: calc(50% - 100px);
	left: calc(50% - 100px);
}

.boxInMain{
	border: 1px solid black;
	margin: 10px 10px 10px 10px;
	padding: 5px 10px;
	position: float;
}

#monitor{
	display: block;
}

#monitorTable{
	position: relative;
	left: 0%;
	width: 100%;
}

#monitorTable .columna2 {
	text-align: center;
}

#monitorTable tr:nth-child(even) {background-color: #e2e2e2;}
#monitorTable td {
	border-bottom: 1px solid #555;
}

.scrolling {
	background-color: white;
	width: 100vw; arbitary for demo only
	height: 500px;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}


.card {
	border: 1px solid black;
	padding: 0px;
	width: 100vw;
	height: 300px;
	display: inline-block;
}

#control{
	display: none;
}

#program{
	display: none;
}

#historic{
	display: none;
}

#about{
	display: none;
}