@charset "ISO-8859-1";

.topnav {
	background-color: lightblue;
	overflow: hidden;
	position: relative;
}

#logo {
	font-family: helvetica;
	font-size: 25px;
	font-weight: bold;
	padding: 14px 16px;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-family: helvetica;
  font-size: 17px;
  font-weight: bold;
  display: block;
}

.topnav a.icon {
  background: lightblue;
  font-size: 25px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: grey;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: lightblue;
  color: black;
}
