[Unit]
Description=Listener
PartOf=HomeControl.target

[Service]
Type=simple
ExecStart=/bin/bash Listener.script
WorkingDirectory=/root
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=HomeControl.target