
.icon-ok:before { content: '\e805'; } /* '' */
.icon-logout:before { content: '\e808'; } /* '' */
.icon-off:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */